{% extends "../base.html.twig" %}

{% set pageTitle = newsDetails.title %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold mb-4">
        {{ pageTitle }}
    </h1>

    {% if newsDetails.image %}
        <img src="{{ newsDetails.image }}" alt="{{ newsDetails.title|striptags }}">
    {% endif %}

    <div class="mt-3">
        {{ newsDetails.body|safe }}
    </div>
{% endblock %}